body {
    background-color: aqua;
    /* background: transparent url(./assets/wp2657259-vintage-background.jpg); */
    background: transparent url(./assets/engin-akyurt-HEMIBJ8QQuA-unsplash.jpg);
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.main-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

/* Left Side Bar */

#left-side-bar {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.logo {
    align-self: start;
    font-size: 20px;
    color: orange;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px 2px black;
}

#reset-button {
    display: none;
    align-self: end;
    margin-bottom: 30px;
    margin-left: 10px;
    width: 90%;
    height: 30px;
}

#reset-button:hover {
    box-shadow: 2px 0px 5px black;
    transform: translateY(1px);
}

#reset-button:active {
    transform: translateX(2px);
    transform: translateY(4px);
}

/* Middle Section */

#middle-section {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center; */
    display: grid;
}

#input-form {
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}

#input-header {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}

#input-form h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px black;
}

input, #submit-button {
    margin: 10px;
    margin-bottom: 10px;
    justify-self: center;
    align-self: center;
    background-color: azure;
    border-radius: 20px;
    padding: 2px;
    text-align: center;
    outline: none;
    border: 1px solid blue;
    width: 200px;
    height: 30px;
}

#submit-button:hover {
    box-shadow: 2px 0px 5px black;
    transform: translateY(-1px);
}

#submit-button:active {
    transform: translateZ(2px);
}

.error-message {
    margin: 10px;
    /* color: rgb(112, 7, 7); */
    color: rgb(65, 63, 63);
    font-weight: bold;
    font-size: 16px;
    align-content: center;
    align-self: center;
    border-bottom: 6px solid rgb(112, 7, 7);
    background-color: white;
    display: none;
    padding: 8px;
}

#grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}

.game-grid-container {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

    min-height: 120px;
    max-height: 120px;

    /* transform: translateY(-50%); */
}

.card {
    width: 100%;
    height: 100%;
    border: 1px solid black;

    min-height: 65px;
    max-height: 120px
}

.card-container .card:hover {
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
    box-sizing: border-box;
}

.initial-color {
    background-color: grey;
    border: 1px solid orange;
}

/* Right Side Bar */

#right-side-bar {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

#moves {
    align-self: start;
    justify-self: center;
    display: grid;
    justify-items: center;
    font-size: 12px;
    color: rgb(184, 245, 240);
    display: none;
}

#current-moves {
    justify-content: center;
}

#time {
    align-self: end;
    justify-self: center;
    margin-bottom: 30px;
    display: grid;
    justify-items: center;
    font-size: 12px;
    color: rgb(184, 245, 240);
    display: none;
}

#current-time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.change-color .red {
    background-color: red;
}

.change-color .blue {
    background-color: blue;
}

.change-color .greenyellow {
    background-color: greenyellow;
}

.change-color .brown {
    background-color: brown;
}

.change-color .orange {
    background-color: orange;
}

.change-color .pink {
    background-color: pink;
}

.change-color .purple {
    background-color: purple;
}

.change-color .magenta {
    background-color: magenta;
}

@media only screen and (min-width: 768px) {
    .logo {
        font-size: 40px;
    }
    #reset-button {
        font-size: 20px;
        height: 40px;
    }
    #moves, #time {
        font-size: 25px;
    }
    input, #submit-button {
        width: 300px;
        height: 40px;
        font-size: 30px;
    }
    #input-header {
        font-size: 40px;
    }

    .game-grid-container {
        height: 60%;
        display: grid;
    
        min-height: 170px;
        max-height: 200px;
    
        transform: translateY(-50%);
    }
    
    .card {
        min-height: 65px;
        max-height: 120px
    }
}

@media only screen and (min-width: 992px) {
    .logo {
        font-size: 60px;
    }
    #reset-button {
        font-size: 20px;
        height: 50px;
    }
    #moves, #time {
        font-size: 30px;
    }
    input, #submit-button {
        width: 400px;
        height: 50px;
        font-size: 30px;
    }
    #input-header {
        font-size: 60px;
    }

    .game-grid-container {
        height: 60%;
        transform: translateY(-10%);
    
        min-height: 170px;
        max-height: 400px;
    }
    
    .card {
        min-height: 150px;
        max-height: 120px
    }
}